.App{
  min-height: 100vh;
  background: indigo;
}

.nav{
  background: mediumpurple;
  display: flex;
  justify-content: space-evenly;
}

.navButton{
  background: none;
  border: none;
  padding: 20px 0;
  font-size: 1.1rem;
  width: 32%;
  color: white;
  font-weight: 500;
  outline: none;
}
.navButton:active{
  background: rgb(123, 80, 209);
}

.author{
  margin: 10px 0;
}

.button{
  background: mediumpurple;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 0.9rem;
  color: white;
  font-weight: 400;
  outline: none;
  margin: 20px 0 0 0;
}

.quoteCard{
  background: yellowgreen;
  margin: 30px;
  box-shadow: 3px 3px 10px black;
  padding: 5px 0 15px 0;
  text-align: center;
}

.page{
  text-align: center;
}

.enterQuoteForm{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.quoteInput{
  margin: 20px 0;
  height: 2rem;
  width: 100%;
}

.quoteTextInput{
  height: 4rem;
}

.searchQuote{
  margin-top: 20px;
  width: 70%;
  height: 2rem;
}

.deleteButton{
  background: rgb(188, 6, 6);
  color: white;
  font-weight: 900;
  margin-left: 90%;

}

.savedPage{
  padding-bottom: 50px;
}